# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=diversifikasi_db
DB_SSLMODE=disable                             

# JWT
JWT_ACCESS_SECRET=random
JWT_REFRESH_SECRET=random

# Server
PORT=8080
CORS_ALLOWED_ORIGIN=http://localhost

# App
APP_ENV=development                              
